@media screen and (max-width:1200px) {
    .login {
        margin-left: 30%;
    }
}

@media screen and (max-width: 1199px) {
    .login {
        margin-left: 30%;
        margin-top: 50%;
    }
}

@media screen and (max-width: 991px) {
    .login {
        margin-left: 24%;
        margin-top: 66%;
    }
}

@media screen and (max-width: 767px) {
    .login {
        margin-left: 13%;
        margin-top: 98%;
    }
}

@media screen and (max-width: 575px) {}

@media screen and (max-width: 479px) {}

@media screen and (max-width: 400px) {}